* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
}

section {
    display: flex;
    flex-wrap: wrap;
}

section div {
    border: 1px dotted lightgray;
    margin-right: 3px;
    margin-bottom: 3px;
}